<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Test - Nest.js | North Coast Code</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="h-screen flex">

<div class="m-auto">
  <div class="grid grid-cols-4 max-w-6xl gap-x-10 mx-auto place-content-center" x-data="EstimateComponent">
    <div class="flex align-items-center">
      <div class="flex flex-col">
        <label for="amount" class="text-xs pb-1">Amount</label>
        <input id="amount" class="p-3 border border-gray-200 p-2 rounded-lg w-100" value="1" disabled>
      </div>
    </div>
    <div>
      <div class="flex flex-col">
        <label for="currency" class="text-xs pb-1">Choose currency</label>
        <select name="" id="currency" class="p-3 bg-purple-400 text-white rounded-lg" x-ref="currency">
          <option value="ETH">ETH</option>
          <option value="LTC">LTC</option>
          <option value="XRP">XRP</option>
        </select>
      </div>
    </div>
    <div class="grid justify-center">
      <button class="text-white bg-gray-600 hover:bg-gray-500 transition-all rounded-lg p-3" id="estimate-btn"
              @click.debounce="getEstimation()" x-text="estimateText"></button>
    </div>
    <div class="grid">
      <div class="flex flex-col">
        <label for="result" class="text-xs pb-1">Result amount in EUR</label>
        <input id="result" type="text" placeholder="Result" class="p-4 bg-white border border-gray-300 rounded-md"
               x-model="exchangeRate" disabled>
      </div>
    </div>
  </div>
</div>

{{!-- scripts --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.2.3/cdn.min.js"
        integrity="sha512-O3bmO6EHV/upDymCEsAUqsVWenplJFJSbkmhRtEWbSXNou42PoprI5Oo5ap1M5kmb+2lx2EIvd/zb9gkUdYHQw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
<script>
  const baseUrl = 'https://api-payments.guardarian.com/v1';

  document.addEventListener('alpine:init', () => {
    Alpine.data('EstimateComponent', () => {
      return {
        amount: 1,
        exchangeRate: 0,
        estimateText: 'Estimate',
        getEstimation() {
          this.estimateText = 'Loading...';
          fetch('/guardarian/estimate', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              from_currency: this.$refs.currency.value,
              to_currency: 'EUR',
              from_amount: this.amount,
            }),
          }).then(resp => {
            this.estimateText = 'Estimate';
            resp.json()
              .then(data => {
                if (!resp.ok) {
                  throw new Error(data.message);
                }

                this.exchangeRate = data.data.estimated_exchange_rate;
              }).catch(alert);
          })
            .catch(err => {
              this.estimateText = 'Estimate';
              console.log(err);
            });
        },
      };
    });
  });
</script>
</body>

</html>